body {
    padding: 0;
    margin: 0;
}
.excalidraw-wrapper {
    width: 100vw;
    height: 100vh;
}

.App-menu_top > :first-child .Stack.Stack_horizontal {
    display: none !important;
}

.App-bottom-bar .Stack.Stack_vertical > button {
    display: none !important;
}

.layer-ui__library-header {
    display: none !important;
}

kbd {
    color: var(--text-primary-color);
}

/*
Hide library for now, causes crash with JCEF
- NPE in JCef https://github.com/bric3/excalidraw-jetbrains-plugin/issues/177
- Library support https://github.com/bric3/excalidraw-jetbrains-plugin/issues/16
 */
label[title="Library"] {
    display: none !important;
}
